# Node modules
node_modules/

# Expo build files
.expo/
.expo-shared/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Package-lock
package-lock.json

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor folders
.vscode/
.idea/

# Environment files
.env

# Expo's temporary files
.expo/
dist/
build/
